* {
    box-sizing: border-box;
   
}

body {
    background-color:white
}

.header {
    padding: -10px;
    background-color:gray
}

.header {
    width: 1920px;
    height: 10px;
    border: 15px gray;
    padding: 50px;
    margin: 0px;
}

.header button {
  float: left
  
}

nav {
    display: flex;
    padding: 70px 40px;
    background-color: lightgray;
}

aside {
    float: right ;
    flex: 30%;
    padding: 20px;
    background-color: whitesmoke
}

main{
    flex:70%;
    background-color: #D8e0f2 ;
} 

#txtbox {
    font-size: 18pt;
    height: 42px;
    width: 150px
}