* {
    box-sizing: border-box;
   
}

body {
    background-color:white
}

.header {
    padding: -10px;
    background-color:gray
}

.header {
    width: 1920px;
    height: 10px;
    border: 15px gray;
    padding: 50px;
    margin: 0px;
}

.header button {
  float: left
  
}

nav {
    display: flex;
    padding: 70px 40px;
    background-color: lightgray;
}

    
aside {
    float: right ;
    height: 800px ;
    padding: 20px;
    background-color: whitesmoke;
}

section {
background-color: #b2c0d6;
height: 800px
} 

#txtbox {
    font-size: 18pt;
    height: 42px;
    width: 100px
}

#notes {
    font-size: 20pt;
    height: 100 px;
    width: 80 px;
}