* {
    box-sizing: border-box;
   
}

body {
    background-color:white
}

.header {
    padding: -10px;
    background-color:gray
}

.header {
    width: 1920px;
    height: 10px;
    border: 15px gray;
    padding: 50px;
    margin: 0px;
}

.header button {
  float: left
  
}

nav {
    display: block;
    padding: 10px 40px;
    background-color: lightgray;
}

    
aside {
    float: right ;
    height: 800px ;
    width: 30%;
    padding: 20px;
    background-color: whitesmoke;
}

section {
background-color: #b2c0d6;
height: 800px ;
width: 70% ;
display: inline-block
} 

#txtbox {
    font-size: 18pt;
    height: 42px;
    width: 100px
}

#readBlock {
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
    background-color: white;
}

